method: bayes
metric:
  goal: maximize
  name: val_accuracy
parameters:
  activation:
    values:
      - sigmoid
      - tanh
      - ReLU
  batch_size:
    values:
      - 16
      - 32
      - 64
  hidden_size:
    values:
      - 32
      - 64
      - 128
  learning_rate:
    values:
      - 0.001
      - 0.0001
  num_epochs:
    values:
      - 5
      - 10
  num_layers:
    values:
      - 3
      - 4
      - 5
  optimizer:
    values:
      - sgd
      - momentum
      - nesterov
      - rmsprop
      - adam
      - nadam
  weight_decay:
    values:
      - 0
      - 0.0005
      - 0.5
  weight_init:
    values:
      - random
      - Xavier
program: train.py
